---
layout: default
title: 首页
---

<div id="featured" class="panel panel-default">
	<div class="panel-heading">
    <h3 class="panel-title">最新</h3>
  </div>
  <div class="panel-body">
		{% for post in site.posts offset: 0 limit: site.theme.homepage_featured %}
			111111
		{% endfor %}
  </div>
	<div class="panel-footer">###</div>
</div>
<div id="posts" class="panel panel-default">
	<div class="panel-heading">
    <h3 class="panel-title">更早</h3>
  </div>
  <div class="panel-body">
		{% for post in site.posts offset: site.theme.homepage_featured limit: site.theme.homepage_posts %}
			{% include post_summary.html %}
		{% endfor %}
		<div class="btn-group btn-group-sm">
			<button type="button" class="btn btn-default">---</button>
		  <button type="button" class="btn btn-default"><a href="/articles.html" class="more">查看全部</a></button>
		  <button type="button" class="btn btn-default">---</button>
		</div>
  </div>
	<div class="panel-footer">###</div>
</div>
